@import url('https://fonts.googleapis.com/css?family=Baloo+Tammudu');
@import url('https://fonts.googleapis.com/css?family=Ruslan+Display');
@import url('https://fonts.googleapis.com/css?family=Volkhov');
@import url('https://fonts.googleapis.com/css?family=Prompt');


.header {
    font-family: 'Volkhov', serif;
    background-image: url("image/header.jpg");
    background-size: cover;
    height: 50rem;
    text-align: auto;
    text-shadow: -2px 0 rgb(212, 218, 223), 0 2px rgb(212, 218, 223), 2px 0 rgb(212, 218, 223), 0 -2px rgb(212, 218, 223);
}

h2 {
    font-weight: bold;
}

.navbar-brand {
    font-family: 'Ruslan Display';
}

#aboutme {
    font-family: 'Prompt', sans-serif;
}

#aboutme {
    background-color: rgb(131, 187, 184);
}

#myskills {
    background-image: url("image/self_taught.png");
    background-size: cover;
}

.myworks {
    background-color: rgb(201, 210, 215);
}

.card-body {
    background-color: rgb(174, 185, 193);
}

.mycontact {
   background-color: rgb(131, 187, 184); 
}

.mycontact img {
    width: 150px;
    height: auto;
}

